@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo-navegador {
    height: 48px;
    width: 48px;

}

.nav-item :hover {
    text-decoration: underline;

}

.home-bio {
    text-align: justify;

}

.retrato {
    max-height: 120%;
    width: auto;

}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.socials:hover {
    animation: spin 0.8s linear infinite;
}
